[Unit]
Description=Lumin Client Service in .NET
# Requires=xyz.service
# After=xyz.service

#some more help: 
#https://www.freedesktop.org/wiki/Software/PulseAudio/Documentation/User/SystemWide/

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/LuminApplication/LuminClient
ExecStart=/usr/share/dotnet/dotnet /home/ubuntu/LuminApplication/LuminClient/LuminClient.dll
User=ubuntu

[Install]
WantedBy=multi-user.target
